body{
	font-family:"맑은 고딕", "고딕", "굴림";
}
header {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	background-color: #069;
	padding: .625em;
	overflow: hidden;
}
header h1{
	width:40%;
	float:left;	
	color:#ffffff;
}

header nav {
	width:60%;
	float:right;	
}

nav ul{
	list-style-type:none;	
}

nav ul li{
	display: inline;
	float: left;
	margin: .938em;
}


nav ul li a{
	color:white;
	text-decoration:none;	
}
p {
	font-size:.938em;
	line-height:20px;
}

h1{
	font-size:2em;	
}

article{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	border:.313em solid #333;
	padding:.313em;
	overflow:hidden;
    height: auto;
}
article section{
	width:30%;
	height: 650px;
	float:left;
	margin:.313em;
	padding:.313em;
	border:1px dotted #333;
}
section h3{
    background:url('../images/bg-note.png') no-repeat left center;
    padding-left:30px;
}
aside{
	clear:both;
	margin:0 auto;
	width:80%;
	height:auto;
	padding:.625em;
	background-color:#99cc33;
}
footer{
	clear:both;
	width: 80%;
	margin-right: auto;
	margin-left: auto;	
	margin-top:0;
	padding:.625em;
	background-color:#333;
	color:white;	
	text-align:center;
}